@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "search search profile" "welcome welcome button";
  grid-area: header;
  margin-left: 40px;
}
.sidebar {
  display: grid;
  grid-area: sidebar;
  padding-left: 25px;
  background-color: #0284c7;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "projects projects announcements" "projects projects trending" "projects projects trending";
  grid-area: content;
  background-color: #cbd5e1;
}
.main-links,
.secondary-links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.logo,
#logo {
  display: flex;
  font-size: 40px;
  align-items: center;
  color: white;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 26px;
  gap: 15px;
}
.projects{
  grid-area: projects;
}
.announcements{
  grid-area: announcements;
}
.trending{
  grid-area: trending;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-area: search;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: profile;
}
.welcome-container {
  grid-area: welcome;
}
.button-container {
  display: flex;
  justify-content: space-evenly;
  grid-area: button;
}
button {
  border-radius: 15px;
  width: 100px;
  height: 38px;
  font-weight: bold;
  color: white;
  border: 0;
  background-color: #0284c7;
}
#search {
  border-radius: 15px;
  height: 25px;
  width: 700px;
  background-color: #cbd5e1;
  border: 0;
}
.main-username {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}
.welcome {
  font-weight: bold;
  margin: 0;
}