body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}
.header {
  display: grid;
  grid-area: header;
}
.sidebar {
  display: grid;
  grid-area: sidebar;
  padding-left: 25px;
  background-color: #0284c7;
}
.content {
  display: grid;
  grid-area: content;
}
.main-links,
.secondary-links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.logo,
#logo {
  display: flex;
  font-size: 40px;
  align-items: center;
  color: white;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 26px;
  gap: 15px;
}